{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="{%static 'Hospital/css/login.css'%}" />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="wrap d-md-flex">
              <div
                class="img"
                style="background-image: url({% static 'Hospital/assets/img/gallery/about1.png' %});"></div>
              <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-4">Sign In</h3>
                  </div>
                  
                </div>
                <form method="POST" class="signin-form" id="sign-form">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label class="label" for="name">User group</label>
                        <div>
                        <select name="user_group" class="form-control">
                            {% comment %} <option value="Normal User">Normal User</option> {% endcomment %}
                            <option value="Hospital" selected>Hospital</option>                        
                        <select>
                        </div>
                      </div>
                  <div class="form-group mb-3">
                    <label class="label" for="name">email</label>
                    <input
                      type="email"
                      id="emailfield"
                      name="email"
                      class="form-control"
                      placeholder="Username"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label class="label" for="password">Password</label>
                    <input
                      type="password"
                      id="passwordfield"
                      name="password"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <button
                      type="submit"
                      class="form-control btn btn-secondary rounded submit px-3"
                      style="background: #0f61ef; color: #fff"
                    >
                      Register
                    </button>
                  </div>
                  <div class="form-group d-md-flex">
                    <div class="w-50 text-left">
                     
                    </div>
                  </div>
                </form>
                <p class="text-center">
                  Already have account? <a data-toggle="tab" href={% url 'login'%} style="color: #0f61ef" >Sign In</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      const formElem = document.getElementById("sign-form")
      const emailElem = document.getElementById("emailfield")
      const passElem = document.getElementById("passwordfield")
      console.log('form to submit ', formElem)
      formElem.addEventListener("submit", (_) => {
        _.preventDefault()
        console.log(emailElem.value, passElem.value)

        if (!emailElem.value.includes('@'))  {
          return
        }

        formElem.submit()
      })
    </script>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

